@using Altin.Application.Models.Category

@model Altin.Application.Models.Product.GetProductWithPagination
@{
    ViewBag.Title = "Ürünler";
    Layout = "_Layout";

    var categories = ViewData["Categories"] as List<GetCategoryModel>;
}

<!-- Single Page Header start -->
<div class="container-fluid page-header-products py-5">
    <h1 class="text-center text-white display-6">Ürünlerimiz @(Model.CategoryName != null ? ": " + Model.CategoryName : "")</h1>
</div>
<!-- Single Page Header End -->

<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Birbirinden Değerli Ürünlerimiz</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Kategoriler</h4>
                                    <ul class="list-unstyled fruite-categorie">

                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="/Urunler"><i class="fas fa-gem me-2"></i>Tümü</a>
                                            </div>
                                        </li>

                                        @foreach (var category in categories)
                                        {
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <a href="/Urunler?kategori=@category.NormalizedName">
                                                        <i class="fas fa-gem me-2"></i>@category.Name
                                                    </a>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="~/img/leftBanner.jpg" class="img-fluid w-100 rounded" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">

                            @foreach (var product in Model.Products)
                            {
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <img src="~/img/Products/@product.ImageUrl" class="img-fluid w-100 rounded-top" style="height: 300px; object-fit: cover;" alt="">
                                        </div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>@product.Name</h4>
                                            <p>@product.Description</p>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    @if (Model.CurrentPage > 1)
                                    {
                                        <a href='/Urunler@(Model.CategoryNormalizeName != null ? $"?kategori={Model.CategoryNormalizeName}&sayfa={Model.CurrentPage - 1}" : $"?sayfa={Model.CurrentPage - 1}")' class="rounded">&laquo;</a>
                                    }
                                    else
                                    {
                                        <a class="rounded">&laquo;</a>
                                    }

                                    @for (int i = 1; i <= Model.TotalPages; i++)
                                    {
                                        if (i == Model.CurrentPage)
                                        {
                                            <a class="rounded">@i</a>
                                        }
                                        else
                                        {
                                            <a href='/Urunler@(Model.CategoryNormalizeName != null ? $"?kategori={Model.CategoryNormalizeName}&sayfa={i}" : $"?sayfa={i}")' class="rounded">@i</a>
                                        }
                                    }

                                    @if (Model.CurrentPage < Model.TotalPages)
                                    {
                                        <a href='/Urunler@(Model.CategoryNormalizeName != null ? $"?kategori={Model.CategoryNormalizeName}&sayfa={Model.CurrentPage + 1}" : $"?sayfa={Model.CurrentPage + 1}")' class="rounded">&raquo;</a>
                                    }
                                    else
                                    {
                                        <a class="rounded">&raquo;</a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->