@using Altin.Application.Models.Category
@using Altin.Application.Models.Product
@model Altin.Application.Models.Product.GetProductDetailModel

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";

    var categories = ViewData["Categories"] as List<GetCategoryModel>;
    var similarProducts = ViewData["SimilarProducts"] as List<GetProductModel>;
}

<!-- Single Page Header start -->
<div class="container-fluid page-header-products py-5">
    <h1 class="text-center text-white display-6">@Model.Name</h1>
</div>
<!-- Single Page Header End -->

<!-- Single Product Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="~/img/Products/@Model.ImageUrl" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="mb-3">
                            Kategori:
                            @foreach (var category in Model.Categories)
                            {
                                <span class="d-inline-block">
                                    <a href="#">@category</a>,
                                </span>
                            }
                        </p>
                        @if (Model.Price != null)
                        {
                            <h5 class="fw-bold mb-3">@Model.Price ₺</h5>
                        }
                        <p class="mb-4">@Model.Description</p>

                        <p class="mb-3">Satın Alabileceğiniz Platformlar:</p>
                        @if (Model.HepsiBuradaUrl != null)
                        {
                            <a href="@Model.HepsiBuradaUrl">
                                <button type="button" class="btn btn-primary">Hepsiburada</button>
                            </a>
                        }

                        @if (Model.TrendyolUrl != null)
                        {
                            <a href="@Model.TrendyolUrl">
                                <button type="button" class="btn btn-primary">Trendyol</button>
                            </a>
                        }

                        <button type="button" class="btn btn-primary">İletişime Geç</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row g-4 fruite">
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <h4>Kategoriler</h4>
                            <ul class="list-unstyled fruite-categorie">

                                <li>
                                    <div class="d-flex justify-content-between fruite-name">
                                        <a href="/Urunler"><i class="fas fa-gem me-2"></i>Tümü</a>
                                    </div>
                                </li>

                                @foreach (var category in categories)
                                {
                                    <li>
                                        <div class="d-flex justify-content-between fruite-name">
                                            <a href="/Urunler?kategori=@category.NormalizedName">
                                                <i class="fas fa-gem me-2"></i>@category.Name
                                            </a>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="fw-bold mb-0">Benzer Ürünler</h1>
        <div class="vesitable">
            <div class="owl-carousel vegetable-carousel justify-content-center">
                @foreach (var similarProduct in similarProducts)
                {
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <a href="/Urunler/@similarProduct.Slug"><img src="~/img/Products/@similarProduct.ImageUrl" class="img-fluid w-100 rounded-top" style="height: 300px; object-fit: cover;" alt=""></a>
                        </div>
                        <div class="p-4 rounded-bottom">
                            <a href="/Urunler/@similarProduct.Slug"><h5>@similarProduct.Name</h5></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Single Product End -->